<div class="container">
  <p>
    <%= link_to "Submit a tutorial", new_post_path, class: "btn btn-primary" %>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% @posts.each do |post| %>
      <div class="well well-lg">
        <center>
          <p>
          <iframe width="720" height="405" src="<%= "http://www.youtube.com/embed/"+post.split %>" frameborder="1" allowfullscreen></iframe>
          </p>
        </center>
          <br>
            <%= link_to "Good Work", like_post_path(post), method: :put, class: "btn btn-success btn-xs" %><span class="text-success"> (<%= post.get_upvotes.size %>)</span>
            <%= link_to "Needs Work", dislike_post_path(post), method: :put, class: "btn btn-warning btn-xs" %><span class="text-warning"> (<%= post.get_downvotes.size %>)</span>
            <small class="pull-right"><%=time_ago_in_words(post.created_at)%> old</small>
            <br>
      </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Categories</h3>
        </div>
        <div class="panel-body text-center">
          <div class="table-responsive">
            <ul class="list-group">
              <% Category.all.each do |category| %>
                <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
